body {
  background-color: #a1a1a1;

  .content {
    width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #777;
    text-align: center;
    padding-bottom: 10px;

    .caption {
      margin-bottom: 5px;
      font-family: "Author", cursive;
      font-size: x-large;
      font-style: italic;
    }

  }

  .footer {
    margin: 10px auto;
    text-align: center;
    font-size: xx-small;
  }
}
