.text {
  text-align: justify;
  margin: 10px;

  img {
    &.left {
      float: left;
    }

    &.right {
      float: right;
    }
  }

  .clear {
    clear: both;
    height: 0;
  }

  .projects {
    padding-left: 20px;
  }
}
