.text {
  text-align: justify;
  margin: 10px;

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .clear {
    clear: both;
    height: 0;
  }

  .img-caption {
    font-size: x-small;
  }

  .projects {
    padding-left: 20px;
  }
}
